$black: #424242;

body {
    font-family: 'Montserrat', sans-serif;
    color: $black;
    background: #f2f4f8;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-weight: bold;
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 30px;
}

p {
    color: $black;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;

    &.large {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

button, .button {
    background: $black;
    border: 0px;
    border-radius: 5px;
    padding: 15px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

    &:hover {
        background: #333;
    }
}