footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 14px;
    padding: 0px 15px;

    a {
        color: #888;
        text-decoration: underline;
    }
}