.section.words {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .typingtest {
        width: 400px;
        max-width: 100%;

        input[type=text] {
            height: 40px;
            border: 2px solid #eee;
            background: #FFF;
            color: #888;
            width: 100%;
            max-width: 300px;
            font-size: 16px;
            padding: 0px 15px;

            &:focus {
                outline: 0;
            }
        }

        .words {
            margin-bottom: 30px;
            display: block;
            word-wrap: break-word;

            .word {
                opacity: 0.6;
                margin-right: 5px;
                font-size: 14px;
                display: inline-block;

                &.active {
                    opacity: 1;
                    font-weight: bold;
                }
            }
        }

        .answers {
            margin-top: 30px;
            font-size: 16px;
            border-top: 1px solid #ccc;
            padding-top: 30px;
        }
    }
}